<a href="https://colab.research.google.com/github/kaziunt/Kazi_INFO5731_-Fall2021/blob/main/01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [14]:
# write your answer here
string = 'Hello World' 

length = 0 # Initialising the length variable
for i in string:
  length+=1 # Increasing the length by 1 for each character
print('Length of the string : '+str(length))

Length of the string : 11

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
string = 'google.com'
character_dict = {}
for i in string:
  if i in character_dict: # If the character is in dictionary then increasing its value by one else initialising to 1
    character_dict[i]+=1
  else:
    character_dict[i]=1
print(character_dict)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
items = [2,3,4,5,6]
sum = 0
for i in items:
  sum+=i
print(sum)

20

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
string = 'restart'
new_string = string[0] # Initialising the new string with first character
for i in range(1,len(string)): # Comparing rest of the characters in string with first and if same found then writing $ in place else the character
  if string[i] == string[0]:
    new_string+='$'
  else:
    new_string+=string[i]

print(new_string)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a = int(input('a : '))
b = int(input('b : '))
S = 3.14 * ((1+ (a/b))**3)
print(S)

a : 2
b : 3
14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic1.update(dic2) # Using update function to append next dictionary with previous one then assigning it to new variable
dic1.update(dic3)
out_dic = dic1
print(out_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
tuple_ = (1,2,3,4,5)
element = 2
flag = False # Flag helps to know if to show not found message
for i in tuple_: # Iterating throught tuple and matching element with iterated element
  if i==element:
    print('Element Exist')
    flag = True

if flag == False:
  print('Element Does not exist')

Element Exist

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
set_ = {0,-1,5}
max = 0
min = 0
for i in set_:
  if i>max:
    max = i
  if i<min:
    min = i

print('Max : '+str(max))
print('Min : '+str(min))

Max : 5
Min : -1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [13]:
# write your answer here
from random import choice
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
groups = [[],[],[],[],[],[]]

# Here we first assign the minimum required students to each grp then we assign the remaining students to different grps
# If any grp gets assigned 2 students which leads to its length being 6 then we add the grp to log and dont consider it


for j in range(6):
  for i in range(4):
    student = choice(student_list)
    groups[j].append(student)
    student_list.pop(student_list.index(student))

log = []
while len(student_list)>0:
    grp = choice(groups)
    if grp not in log:
      student = choice(student_list)
      grp.append(student)
      student_list.pop(student_list.index(student))
      if len(grp)==6:
          log.append(grp)

for y in groups:
  print(y)

['yye0005', 'vmb0067', 'snd0097', 'vl0135']
['py0080', 'at0739', 'nm0547', 'msp0174']
['pn0159', 'sg0940', 'ss1995', 'hc0439', 'ds0761', 'ri0094']
['pk0339', 'spk0057', 'ttp0037', 'rs0850', 'mv0299', 'dd0420']
['mn0426', 'tv0119', 'rrk0058', 'hn0145', 'dy0091']
['at0768', 'pc0353', 'bk0301', 'rak0120']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
array = [1,2,3,1,4,4]
flag = False
log = []
for i in array:
  if array.count(i) > 1: # If element occurs more than once then printing it
    if i not in log:
      print(i)
      log.append(i)
      flag = True
if flag == False:
  print(-1)

1
4

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta
year = 2021
d = date(year, 1, 1)                    # January 1st
d += timedelta(days = 6 - d.weekday())  # We find the sunday of the week
while d.year == year:
  print(d)
  d += timedelta(days = 7)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26